<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="FacebookAppId" value="727180001003840"/>
  <add key="FacebookAppSecret" value="1f03d73f2f3b721f405f86ff73a490f2"/>
  <add key="MailServer" value="dev-stmp.vidly.com"/>
</appSettings>